[submodule "to-do-list-backend"]
	path = to-do-list-backend
	url = https://github.com/Propato/to-do-list-backend.git
[submodule "to-do-list-frontend"]
	path = to-do-list-frontend
	url = https://github.com/Propato/to-do-list-frontend.git
